<div ng-style="containerStyle()" ng-click="mapClicked($event)">
    <div ng-style="mapStyle()">
        <img ng-repeat="icon in icons" ng-click="icon.toggleActive(); $event.stopPropagation();" ng-src="{{icon.getImage()}}" ng-style="iconStyle(icon)"  />
        <img src="./img/positionmarker.png" ng-style="positionMarkerStyle()" />
        <div style="position:absolute; top:0; left:0; width: 1251px; height: 991px;">
            <img src="./img/transparent.png" style="width: 1251px; height: 991px;" border="0" usemap="#map" />
            <map name="map">
                <area shape="circle" coords="735,337,15" ng-href="#/poi/0" />
                <area shape="circle" coords="755,361,15" ng-href="#/poi/1" />
                <area shape="circle" coords="763,323,15" ng-href="#/poi/2" />
                <area shape="circle" coords="486,398,15" ng-href="#/poi/3" />
                <area shape="circle" coords="403,433,15" ng-href="#/poi/4" />
                <area shape="circle" coords="913,67,15" ng-href="#/poi/5" />
                <area shape="circle" coords="839,302,15" ng-href="#/poi/6" />
                <area shape="circle" coords="866,356,15" ng-href="#/poi/7" />
                <area shape="circle" coords="1023,434,15" ng-href="#/poi/8" />
                <area shape="circle" coords="1015,621,15" ng-href="#/poi/9" />
                <area shape="circle" coords="1152,822,15" ng-href="#/poi/10" />
                <area shape="circle" coords="158,250,15" ng-href="#/poi/11" />
            </map>
        </div>
    </div>
    <img ng-click="goToUserPosition($event); $event.stopPropagation();" src="img/position.png" style="position: absolute; top:0; left:0;">
</div>