<header>
    <div class="ym-wrapper">
        <div class="ym-wbox">
            <a class="float-left" ng-href="#/poi/{{stationID}}">zurück</a>
        </div>
    </div>
</header>
<main>
    <div class="ym-wrapper">
        <div class="ym-wbox">
            <img ng-src="./media/{{poi.images[imgID].name}}" ng-style="getWidth"/>
        </div>
    </div>
</main>
<footer>
    <div class="ym-wrapper">
        <div class="ym-wbox">
        <p>
            {{poi.images[0].caption}}
        </p>
        </div>
    </div>
</footer>