<header>
    <div class="ym-wrapper">
        <div class="ym-wbox">
            <a class="float-left" style="font-size: 15px" ng-href="#/poi/{{stationID}}">zurück</a>
        </div>
    </div>
</header>
<main>
    <div class="ym-wrapper">
        <div class="ym-wbox">
            <img ng-src="./media/{{pois[stationID].images[imgID].name}}" ng-style="getWidth"/>
            <p style="font-size: 16px">
                {{pois[stationID].images[imgID].caption}}
            </p>
        </div>
    </div>
</main>