<header>
    <h1>Frankfurt im Mittelalter</h1>
    <h2>Auf den Spuren des Passionsspiels von 1492</h2>
</header>
<main class="splash-background">
    <div class="splash-canvas box">
        <div class="splash-content">
            <h1>Anleitung zur App "Frankfurt im Mittelalter"</h1>
            <p>
                Sehr geehrte Benutzerinnen und Benutzer,
            </p>
            <p>
                willkommen in Frankfurt im späten Mittelalter, in einer Zeit, in der auf dem Römerberg noch die Passion gespielt wurde. Begleiten Sie uns auf eine virtuelle Reise ins Jahr 1492.  Der Stadtrundgang beginnt mit der Station 1 auf dem Römerberg und führt durch die Frankfurter Altstadt bis zur Station 12 am ehemaligen Galgentor, der heutigen Großen Gallusstraße.
            </p>
            <h2>Die Karte</h2>
            <img src="./img/intromap.png" style="float:left; margin-right:5px; " />
            <p>
                Die Hauptansicht der App ist eine Karte der Frankfurter Altstadt. Verzeichnet sind eine Route mit den Stationen 1-12 sowie Icons historischer Gebäude. Die Route beginnt bei Punkt 1 am Römerberg. Auf der Karte können Sie per Klick entlang der Laufroute navigieren. Der berührte Bereich wird ins Kartenzentrum verschoben. Wenn Sie in die Nähe einer Station kommen, wird Ihnen das in einer Infobox angezeigt.
            </p>
            <table style="clear: both;  ">
                <tr>
                    <td class="center"></td>
                    <td></td>
                </tr>
                <tr>
                    <td class="center"><img src="./img/poi-03-roemer-01.png" /></td>
                    <td>Außerdem wird das dazugehörige Icon farblich hervorgehoben.</td>
                </tr>
                <tr>
                    <td class="center"><img src="./img/position.png" /></td>
                    <td>Auf dem Rundgang können Sie Ihren aktuellen Standort mit Hilfe des Kompass-Symbols bestimmen. Den Kompass finden Sie in der linken oberen Ecke des Karten-Bildschirms.</td>
                <tr>
                    <td class="center"><img src="./img/positionmarker.png" /></td>
                    <td>Dieses Icon zeigt Ihre aktuelle Position auf der Stadtkarte. Sollte das Symbol nicht sichtbar sein, konnte Ihr Standort noch nicht bestimmt werden.</td>
                </tr>
            </table>
            <h2>Die Detailseiten</h2>
            <p>
                Die Detailseiten liefern Ihnen eine kurze Einführung zur aktuellen Station und können aufgerufen werden, indem Sie direkt auf den Stationspunkt klicken. Zum Vergrößern klicken Sie auf die Bilder.
            </p>
            <h2>Der Audioguide</h2>
            <p>Die Detailseiten liefern Ihnen eine kurze Einführung zur aktuellen Station und können aufgerufen werden, indem Sie direkt auf den Stationspunkt klicken. Zum Vergrößern klicken Sie auf die Bilder.</p>
            <table>
                <tr>
                    <td class="center"><img src="./img/go.png" /></td>
                    <td>Mit Klick auf das Play-Zeichen starten Sie den Audioguide zur jeweiligen Station.</td>
                </tr>
                <tr>
                    <td class="center"><img src="./img/stop.png" /></td>
                    <td>Mit Klick auf das Pause-Zeichen halten sie den Audioguide an. Wenn Sie weiterhören möchten, berühren Sie das Symbol noch einmal.</td>
                </tr>
                <tr>
                    <td class="center"><img src="./img/repeat.png" /></td>
                    <td>Mit einem Klick auf dieses Symbol starten Sie die Wiedergabe des Audioguide erneut.</td>
            </table>
            <h2>Bei Problemen mit der Lokalisierung</h2>
            <p>
                Wenn Sie Probleme mit der Lokalisierung haben, gehen Sie am besten folgendermaßen vor:
            </p>
            <ul>
                <li>Stellen Sie sicher, dass GPS, WLAN und der mobile Datenempfang eingeschaltet sind. Viele Geräte nutzen alle drei Informationen zur Positionsbestimmung.</li>
                <li>Gebäude beeinträchtigen das GPS-Signal. Suchen Sie freie Flächen auf und halten Sie Abstand von Wänden.</li>
                <li>Schalten Sie GPS, WLAN und mobilen Datenempfang kurz aus und nach einem Neustart Ihres Gerätes wieder ein.</li>
                <li>Für Experten: Löschen Sie den Browser-Cache Ihres Gerätes.</li>
            </ul>
            <p>
                Die App ist so ausgelegt, dass die Live-Lokalisierung ein Hilfsmittel zur Orientierung ist. Falls diese bei Ihnen nicht funktionieren sollte, können Sie sowohl die Detailseiten als auch die Audioguides auch von jedem anderen Ort aufrufen – sogar von zu Hause aus.
            </p>
        </div>
    </div>
</main>
<footer>
    <div class="poi-footer-content">
        <a class="float-left" href="#/terms" style="margin: 0;">Impressum</a>
        <a class="float-right" href="#/directive" style="margin: 0;">Zur App</a>
    </div>
</footer>