<header>
    <div class="ym-wrapper">
        <div class="ym-wbox">
            <h1>Frankfurt im Mittelalter</h1>
            <h2>Auf den Spuren des Passionsspiels von 1492</h2>
        </div>
    </div>
</header>
<main>
    <div class="ym-wrapper" style="height:375px; background: url(/img/ffm-background-indexed.png) no-repeat right">
        <div class="ym-wbox" style="padding: 2.5em;">
            <p class="box info" style="display:block; height: 250px;">
                <span style="font-weight: bolder">Anleitung</span><br/>
                Hier folgt der Text
            </p>
        </div>
    </div>
</main>
<footer>
    <div class="ym-wrapper">
        <div class="ym-wbox">
            <a class="float-left" href="#/terms">Impressum</a>
            <a class="float-right" href="#/poi">Zur App</a>
            <div class="ym-clearfix ym-ie-clearing"></div>
        </div>
    </div>
</footer>