<header>
    <div class="ym-wrapper">
        <div class="ym-wbox">
            <h1>Frankfurt im Mittelalter</h1>
            <h2>Auf den Spuren des Passionsspiels von 1492</h2>
        </div>
    </div>
</header>
<main>
    <div class="ym-wrapper" style="height:260px; background: url(./img/ffm-background-indexed.png) no-repeat right">
        <div class="ym-wbox" style="padding: 15px;">
            <div class="box info" style="height: 200px;">
                <h1 style="color: black;">Anleitung</h1>
                <p>
                    Hier folgt der Text
                </p>
            </div>
        </div>
    </div>
</main>
<footer>
    <div class="ym-wrapper">
        <div class="ym-wbox">
            <a class="float-left" href="#/terms" style="margin: 0;">Impressum</a>
            <a class="float-right" href="#/poi" style="margin: 0;">Zur App</a>
            <div class="ym-clearfix ym-ie-clearing"></div>
        </div>
    </div>
</footer>