<header>
    <div class="ym-wbox">
        <!--<img ng-src="{{poi.icon.srcActive}}" style="float: right"/>-->
        <h1>{{poi.heading}}</h1>
    </div>
</header>
<main>
    <div class="ym-wrapper" style="height: auto;">

        <div class="ym-wbox" style="height: 32px">
            <a class="float-left" style="font-size: 12px" ng-click="stopAndRedirect('/directive')">zurück</a>
            <img ng-click="mediaPlay()" ng-hide=showButton() src="img/go.png" style="float: right">
            <img ng-click="mediaStop()" ng-show=showButton() src="img/stop.png" style="float: right">
        </div>

        <div class="ym-wbox" style="height: auto">
            <p>
                <a href="#/imgview/{{poi.id}}/0"><img ng-src="./media/{{poi.images[0].name}}" ng-style="getImageWidth()" style="display: block; margin: 0 auto"/></a>
            </p>
            <p ng-style="getMargin()" style="font-size: 12px; margin-right: 12px; margin-left: 12px;">
                {{poi.teaser}}
            </p>
            <p ng-repeat="image in poi.images" ng-if="$index != 0">
                <a ng-href="#/imgview/{{poi.id}}/{{$index}}/"><img ng-src="./media/{{image.name}}" ng-style="getImageWidth()" style="display: block; margin: 0 auto"/></a>
            </p>
        </div>
    </div>
</main>
<footer>
    <div class="ym-wrapper">
        <div class="ym-wbox">
            <a class="float-left" style="font-size: 12px" ng-click="stopAndRedirect('/directive')">zurück</a>
            <div class="ym-clearfix ym-ie-clearing"></div>
        </div>
    </div>
</footer>
