<nav id="nav" style="text-align: center; padding: 0.2em; margin: 0; border: none;">
    <div class="ym-wrapper" style="text-align: center; padding: 0; margin: 0; border: none;">
        <img ng-click="shiftPoi(-1)" src="img/leftarrow.png" class="leftarrow" style="height:28px; padding: 0; margin: 0; border: none;">
        <select ng-model="poi" ng-options="c.title for c in pois"></select>
        <img ng-click="shiftPoi(1)" src="img/righttarrow.png" class="rightarrow" style="height:28px; padding: 0; margin: 0; border: none;">‚
    </div>
</nav>
<main>
    <div class="ym-wrapper">
        <div class="ym-wbox">
            <section class="ym-grid linearize-level-1">
                <article class="ym-g66 ym-gl content">
                    <div class="ym-gbox-left ym-clearfix">
                        <div id="map-canvas" style="height: 300px;">
                            <p>{{pos.latitude }}
                                {{pos.longitude}}
                                {{pos.accuracy }}</p>
                            <p>{{pos.distance}}</p>
                        </div>
                    </div>
                </article>
                <aside class="ym-g33 ym-gr">
                    <div class="ym-gbox-right ym-clearfix">
                        <p>
                            {{poi.shortDesc}}
                        </p>
                    </div>
                </aside>
            </section>
        </div>
    </div>
</main>