<header>
    <div class="ym-wrapper">
        <div class="ym-wbox">
            <h1>Frankfurt im Mittelalter</h1>
            <h2>Auf den Spuren des Passionsspiels von 1492</h2>
        </div>
    </div>
</header>
<main>
    <div class="ym-wrapper">
        <div class="ym-wbox splash-bg center">
            <img src="{{roemer}}"/>
        </div>
    </div>
</main>
<footer>
    <div class="ym-wrapper">
        <div class="ym-wbox">
            <a class="float-left" href="#/terms">Impressum</a>
            <a class="float-right" href="#/intro">Weiter</a>
            <div class="ym-clearfix ym-ie-clearing"></div>
        </div>
    </div>
</footer>