<header>
    <div class="ym-wrapper">
        <div class="ym-wbox">
            <h1>Frankfurt im Mittelalter</h1>

            <h2>Auf den Spuren des Passionsspiels von 1492</h2>
        </div>
    </div>
</header>
<main>
    <div class="ym-wrapper" style="height:260px; background: url(./img/ffm-background-indexed.png) no-repeat right">
        <div class="ym-wbox" style="padding: 15px;">
            <div class="box info" style="height: 200px;">
                <h1 style="color: black;">Impressum</h1>

                <p class="c4"><span></span></p>

                <p class="c4"><span></span></p>

                <p class="c4"><span></span></p>

                <p class="c4"><span></span></p>

                <p class="c2"><span class="c1">Konzept und Regie:</span><span>&nbsp;Dr. Stephanie Dreyf&uuml;rst (Leiterin Schreibzentrum, Goethe-Universit&auml;t Frankfurt a. M.) und PD Dr. Regina Toepfer (Privatdozentin f&uuml;r &Auml;ltere Deutsche Literaturwissenschaft, Goethe-Universit&auml;t Frankfurt a. M.)</span>
                </p>

                <p class="c2 c7"><span></span></p>

                <p class="c2"><span class="c1">Regieassistenz:</span><span>&nbsp;Sascha Dieter (Studentische Hilfskraft und Schreibtutor, Schreibzentrum Goethe-Universit&auml;t Frankfurt a. M.)</span>
                </p>

                <p class="c2 c7"><span></span></p>

                <p class="c2"><span class="c1">Sprecher*innen:</span><span>&nbsp;Anna Chalupa-Albrecht, Sascha Dieter, Johanna Dietz</span>
                </p>

                <p class="c2 c7"><span></span></p>

                <p class="c2"><span class="c1">unter Mitarbeit von:</span><span>&nbsp;Christin Arnold, Anna Chalupa-Albrecht, Sascha Dieter, Johanna Dietz, Michelle Keller, Katharina Kleinert, Jan-Erik Leonhardt, Claudia Riemer, Valerie Sargk, Laura Seuffert (Studierende der Germanistik und Geschichtswissenschaft an der Goethe-Universit&auml;t)</span>
                </p>

                <p class="c2 c7"><span></span></p>

                <p class="c2"><span class="c1">Visuelle Gestaltung der App:</span><span>&nbsp;Imke Schmidt (dankegrafik, Berlin)</span>
                </p>

                <p class="c2 c7"><span></span></p>

                <p class="c2"><span class="c1">Technische Entwicklung der App:</span><span>&nbsp;Marius Schmidt (Schmidt-denkt-mit, Oberursel)</span>
                </p>

                <p class="c2 c7"><span></span></p>

                <p class="c2"><span class="c1">Musikalische Rahmung:</span><span>&nbsp;Freiburger Spielleyt</span></p>

                <p class="c2 c7"><span></span></p>

                <p class="c2"><span class="c1">Mit freundlicher Unterst&uuml;tzung von: </span><span>Fritz Backhaus (Stellv. Direktor des J&uuml;dischen Museums), Claudia Bremer (studium digitale, Goethe-Universit&auml;t), Dr. Roman Fischer (Institut f&uuml;r Stadtgeschichte), Prof. em. Dr. Winfried Frey (Institut f&uuml;r deutsche Literatur, Frankfurt), Albrecht Haaf (Freiburger Spielleyt), Prof. Dr. August Heuser (Direktor des Dommuseums), Malte Kleinjung (Fortbildungsprogramm &ldquo;Buch- und Medienpraxis&rdquo;), Heike Lie&szlig;mann (Hessischer Rundfunk, hr2 Kultur), Raschida Mansour (Universit&auml;tsbibliothek Johann Christian Senckenberg Frankfurt a. M.), </span><span>Tamara Marzsalkowski </span><span>(Campus-Radio dauerWelle), Prof. Dr. Jochen Sander (Stellv. Direktor des St&auml;del Museums), David Weiss (studium digitale, Goethe-Universit&auml;t).</span>
                </p>

                <p class="c2 c7"><span></span></p>

                <p class="c2"><span>F&uuml;r die</span><span class="c1">&nbsp;finanzielle F&ouml;rderung</span><span>&nbsp;danken wir herzlich der Dr. Marschner-Stiftung, Microsoft, der Vereinigung von Freunden und F&ouml;rderern der Johann Wolfgang Goethe-Universit&auml;t sowie dem F&ouml;rderfonds Lehre der Goethe-Universit&auml;t</span>
                </p>

                <p class="c2 c7"><span></span></p>

                <p class="c2"><span class="c1">Bildnachweise:</span></p>

                <p class="c2"><span class="c1">Station 1</span><span>&nbsp;(Einf&uuml;hrung: Passionsspiele im mittelalterlichen Frankfurt):</span>
                </p>

                <p class="c2"><span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Bild 1: Conrad Faber: Gesamtansicht von Frankfurt (1552) - Foto: Claudia Riemer</span>
                </p>

                <p class="c6"><span>Bild 2: Dirigierrolle des Passionsspiels (Anfang 14. Jhdt.) - Foto: </span><span>Universit&auml;tsbibliothek Johann Christian Senckenberg</span><span>&nbsp;Frankfurt a. M.</span>
                </p>

                <p class="c2"><span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Bild 3: Handschrift des Frankfurter Passionsspiels (1493) - Foto: Stephanie Dreyf&uuml;rst</span>
                </p>

                <p class="c2"><span class="c1">Station 2</span><span>&nbsp;(Nikolaikirche: Die Ratsherren und das Letzte Abendmahl):</span>
                </p>

                <p class="c2 c5"><span>Bild 1: Matth&auml;us Merian d.&Auml;.: Nikolaikirche (1628) - Foto: Claudia Riemer</span>
                </p>

                <p class="c2"><span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Bild 2: Hans Holbein d.&Auml;.: Abendmahl (1501) - Foto: St&auml;del Museum Frankfurt a. M.</span>
                </p>

                <p class="c2"><span class="c1">Station 3</span><span>&nbsp;(R&ouml;mer: Der Verrat des Judas):</span>
                </p>

                <p class="c2 c5"><span>Bild 1: Matth&auml;us Merian d.&Auml;.: Nikolaikirche und R&ouml;merberg (1628) - Foto: Claudia Riemer</span>
                </p>

                <p class="c2"><span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Bild 2: Hans Holbein d.&Auml;.: Gefangennahme (1501) - Foto: St&auml;del Museum Frankfurt a. M.</span>
                </p>

                <p class="c2"><span class="c1">Station 4</span><span>&nbsp;(Karmeliterkloster: Die Gei&szlig;elung Jesu):</span>
                </p>

                <p class="c2 c5"><span>Bild 1: Matth&auml;us Merian d.&Auml;.: Karmeliterkloster (1628) - Foto: Claudia Riemer</span>
                </p>

                <p class="c2"><span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Bild 2: J&ouml;rg Ratgeb: Gei&szlig;elung Jesu (1515-21) - Quelle: Wiki Commons unter</span>
                </p>

                <p class="c2 c5"><span class="c9"><a class="c0"
                                                     href="http://de.wikipedia.org/wiki/Datei:Karmeliter_Kreuzg_Gei%C3%9FlXP.jpg">http://de.wikipedia.org/wiki/Datei:Karmeliter_Kreuzg_Gei%C3%9FlXP.jpg</a></span>
                </p>

                <p class="c2"><span class="c1">Station 5</span><span>&nbsp;(Wei&szlig;frauenkloster: Der Tanz Maria Magdalenas und der Nonnen):</span>
                </p>

                <p class="c2 c5"><span>Bild 1: Matth&auml;us Merian d.&Auml;.: Wei&szlig;frauenkloster (1628) - Foto: Claudia Riemer</span>
                </p>

                <p class="c2"><span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Bild 2: Hans Backoffen: Maria Magdalena, Ausschnitt aus der Kreuzigungsgruppe (1509) - Foto: &nbsp; &nbsp; </span>
                </p>

                <p class="c2 c5"><span>Stephanie Dreyf&uuml;rst</span></p>

                <p class="c2"><span class="c1">Station 6</span><span>&nbsp;(Judengasse: Juden im Ghetto und im Passionsspiel):</span>
                </p>

                <p class="c2 c5">
                    <span>Bild 1: Matth&auml;us Merian d.&Auml;.: Judengasse (1628) - Foto: Claudia Riemer</span></p>

                <p class="c2"><span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Bild 2: Matth&auml;us Merian d.&Auml;.: Fettmilchaufstand (1628) - Quelle: Wiki Commons unter </span><span
                        class="c9"><a class="c0"
                                      href="http://commons.wikimedia.org/wiki/File:Frankfurt_Main_Fettmilch-Aufstand.jpg">http://commons.wikimedia.org/wiki/File:Frankfurt_Main_Fettmilch-Aufstand.jpg</a></span>
                </p>

                <p class="c2"><span class="c1">Station 7</span><span>&nbsp;(Dom: Der Lanzenstich des Longinus):</span>
                </p>

                <p class="c2 c5"><span>Bild 1: Matth&auml;us Merian d.&Auml;.: Frankfurter Dom (1617) - Foto: Mylius, lizensiert und nutzbar &uuml;ber</span><span>&nbsp;Wiki Commons </span><span>unter </span><span
                        class="c9"><a class="c0"
                                      href="http://upload.wikimedia.org/wikipedia/commons/b/b4/Mk_Frankfurt_Merian_Stadtansicht.jpg">http://upload.wikimedia.org/wikipedia/commons/b/b4/Mk_Frankfurt_Merian_Stadtansicht.jpg</a></span>
                </p>

                <p class="c2"><span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Bild 2: Hans Backoffen: Longinus, Ausschnitt aus der Kreuzigungsgruppe (1509), Foto: </span>
                </p>

                <p class="c2 c5"><span>Stephanie Dreyf&uuml;rst</span></p>

                <p class="c2"><span
                        class="c1">Station 8</span><span>&nbsp;(Alte Synagoge: Josef mit dem Judenhut):</span></p>

                <p class="c2 c5"><span>Bild 1: Matth&auml;us Merian d.&Auml;.: Frankfurter Dom (1628) - Foto: Claudia Riemer</span>
                </p>

                <p class="c2 c5"><span>Bild 2: Meister Antze: Josef mit dem Judenhut (1350) - Foto: Rupp.de, lizensiert und nutzbar </span>
                </p>

                <p class="c2 c5"><span>&uuml;ber </span><span>Wiki Commons unter</span></p>

                <p class="c2 c5"><span class="c9"><a class="c0"
                                                     href="http://upload.wikimedia.org/wikipedia/commons/9/9c/Frankfurter_Dom_Suedportal_2.JPG">http://upload.wikimedia.org/wikipedia/commons/9/9c/Frankfurter_Dom_Suedportal_2.JPG</a></span>
                </p>

                <p class="c2"><span
                        class="c1">Station 9</span><span>&nbsp;(Briggegiggel: Die Verleugnung des Petrus):</span></p>

                <p class="c2 c5"><span>Bild 1: Matth&auml;us Merian d.&Auml;.: Alte Br&uuml;cke (1628) - Foto: Claudia Riemer</span>
                </p>

                <p class="c2"><span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Bild 2: Bedebuch: Briggegiggel (1405) - Foto: Claudia Riemer</span>
                </p>

                <p class="c2"><span
                        class="c1">Station 10</span><span>&nbsp;(Alte Br&uuml;cke: Das Judenschandbild):</span></p>

                <p class="c2 c5"><span>Bild 1: Matth&auml;us Merian d.&Auml;.: Br&uuml;ckenturm der Alten Br&uuml;cke (1628) - Quelle: Wiki Commons unter </span><span
                        class="c9"><a class="c0"
                                      href="http://upload.wikimedia.org/wikipedia/commons/9/9e/Frankfurt_Altstadt-Position-Fuersteneck-Merian1628.gif">http://upload.wikimedia.org/wikipedia/commons/9/9e/Frankfurt_Altstadt-Position-Fuersteneck-Merian1628.gif</a></span>
                </p>

                <p class="c2"><span>Bild 2: Johann Jakob Schmidt: J&uuml;dische Merckw&uuml;rdigkeiten (1714-17) - Foto: J&uuml;disches Museum </span>
                </p>

                <p class="c2 c5"><span>Frankfurt a. M.</span></p>

                <p class="c2"><span class="c1">Station 11</span><span>&nbsp;(Affentor: Das Glaubensbekenntnis eines Muslim):</span>
                </p>

                <p class="c2 c5"><span>Bild 1: Matth&auml;us Merian d.&Auml;.: Das Affentor (1628) - Foto: Claudia Riemer</span>
                </p>

                <p class="c2"><span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Bild 2: Mittelrheinischer Meister: Kreuzigungsaltar (um 1420) - Foto: St&auml;del Museum Frankfurt a. M.</span>
                </p>

                <p class="c2"><span class="c1">Station 12</span><span>&nbsp;(Galgentor: Der gewaltsame Tod Jesu):</span>
                </p>

                <p class="c2 c5"><span>Bild 1: Matth&auml;us Merian d.&Auml;.: Das Galgentor (1628) - Foto: Claudia Riemer</span>
                </p>

                <p class="c2"><span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Bild 2: Schrotblatt mit der Annagelung Jesu ans Kreuz (um 1470/80) - Foto: Universit&auml;tsbibliothek Johann Christian Senckenberg Frankfurt a. M. </span>
                </p>

                <p class="c2 c7"><span></span></p>
            </div>
        </div>
    </div>
</main>
<footer>
    <div class="ym-wrapper">
        <div class="ym-wbox">
            <a class="float-left" href="#/intro" style="margin: 0;">Anleitung</a>
            <a class="float-right" href="#/directive" style="margin: 0;">Zur App</a>

            <div class="ym-clearfix ym-ie-clearing"></div>
        </div>
    </div>
</footer>