<header>
    <h1>Frankfurt im Mittelalter</h1>
    <h2>Auf den Spuren des Passionsspiels von 1492</h2>
</header>
<main class="splash-background">
    <div class="splash-canvas box">
        <div class="splash-content">
            <h1>Impressum</h1>
            <dl>
                <dt>
                    Konzept und Regie:
                </dt>
                <dd>
                    Dr. Stephanie Dreyf&uuml;rst (Leiterin Schreibzentrum, Goethe-Universit&auml;t Frankfurt a. M.) und PD Dr. Regina Toepfer (Privatdozentin f&uuml;r &Auml;ltere Deutsche Literaturwissenschaft, Goethe-Universit&auml;t Frankfurt a. M.)
                </dd>
                <dt>
                    Regieassistenz:
                </dt>
                <dd>
                    Sascha Dieter (Studentische Hilfskraft und Schreibtutor, Schreibzentrum Goethe-Universit&auml;t Frankfurt a. M.)
                </dd>
                <dt>
                    Sprecher*innen:
                </dt>
                <dd>
                    Anna Chalupa-Albrecht, Sascha Dieter, Johanna Dietz
                </dd>
                <dt>
                    unter Mitarbeit von:
                </dt>
                <dd>
                    Christin Arnold, Anna Chalupa-Albrecht, Sascha Dieter, Johanna Dietz, Michelle Keller, Katharina Kleinert, Jan-Erik Leonhardt, Claudia Riemer, Valerie Sargk, Laura Seuffert (Studierende der Germanistik und Geschichtswissenschaft an der Goethe-Universit&auml;t)
                </dd>
                <dt>
                    Visuelle Gestaltung der App:
                </dt>
                <dd>
                    Imke Schmidt (dankegrafik, Berlin)
                </dd>
                <dt>
                    Technische Entwicklung der App:
                </dt>
                <dd>
                    Marius Schmidt, Daniel Roth (Schmidt-denkt-mit, Oberursel)
                </dd>
                <dt>
                    Musikalische Rahmung:
                </dt>
                <dd>
                    Freiburger Spielleyt
                </dd>
                <dt>
                    Mit freundlicher Unterst&uuml;tzung von:
                </dt>
                <dd>
                    Fritz Backhaus (Stellv. Direktor des J&uuml;dischen Museums), Claudia Bremer (studium digitale, Goethe-Universit&auml;t), Dr. Roman Fischer (Institut f&uuml;r Stadtgeschichte), Prof. em. Dr. Winfried Frey (Institut f&uuml;r deutsche Literatur, Frankfurt), Albrecht Haaf (Freiburger Spielleyt), Prof. Dr. August Heuser (Direktor des Dommuseums), Malte Kleinjung (Fortbildungsprogramm &ldquo;Buch- und Medienpraxis&rdquo;), Heike Lie&szlig;mann (Hessischer Rundfunk, hr2 Kultur), Raschida Mansour (Universit&auml;tsbibliothek Johann Christian Senckenberg Frankfurt a. M.), Tamara Marzsalkowski (Campus-Radio dauerWelle), Prof. Dr. Jochen Sander (Stellv. Direktor des St&auml;del Museums), David Weiss (studium digitale, Goethe-Universit&auml;t).
                </dd>
            </dl>
            <p>
                F&uuml;r die&nbsp;finanzielle F&ouml;rderung&nbsp;danken wir herzlich der Dr. Marschner-Stiftung, Microsoft, der Vereinigung von Freunden und F&ouml;rderern der Johann Wolfgang Goethe-Universit&auml;t sowie dem F&ouml;rderfonds Lehre der Goethe-Universit&auml;t
            </p>

            <h1>Bildnachweise:</h1>
            <dl>
                <dt>
                    Station 1 (Einf&uuml;hrung: Passionsspiele im mittelalterlichen Frankfurt):
                </dt>
                <dd>
                    Bild 1: Conrad Faber: Gesamtansicht von Frankfurt (1552) - Foto: Claudia Riemer<br/>
                    Bild 2: Dirigierrolle des Passionsspiels (Anfang 14. Jhdt.) - Foto: Universit&auml;tsbibliothek Johann Christian Senckenberg&nbsp;Frankfurt a. M.<br/>
                    Bild 3: Handschrift des Frankfurter Passionsspiels (1493) - Foto: Stephanie Dreyf&uuml;rst
                </dd>
                <dt>
                    Station 2 (Nikolaikirche: Die Ratsherren und das Letzte Abendmahl):
                </dt>
                <dd>
                    Bild 1: Matth&auml;us Merian d.&Auml;.: Nikolaikirche (1628) - Foto: Claudia Riemer<br/>
                    Bild 2: Hans Holbein d.&Auml;.: Abendmahl (1501) - Foto: St&auml;del Museum Frankfurt a. M.
                </dd>
                <dt>
                    Station 3 (R&ouml;mer: Der Verrat des Judas):
                </dt>
                <dd>
                    Bild 1: Matth&auml;us Merian d.&Auml;.: Nikolaikirche und R&ouml;merberg (1628) - Foto: Claudia Riemer<br/>
                    Bild 2: Hans Holbein d.&Auml;.: Gefangennahme (1501) - Foto: St&auml;del Museum Frankfurt a. M.
                </dd>
                <dt>
                    Station 4 (Karmeliterkloster: Die Gei&szlig;elung Jesu):
                </dt>
                <dd>
                    Bild 1: Matth&auml;us Merian d.&Auml;.: Karmeliterkloster (1628) - Foto: Claudia Riemer<br/>
                    Bild 2: J&ouml;rg Ratgeb: Gei&szlig;elung Jesu (1515-21) - Quelle: Wiki Commons unte<br/>
                    http://de.wikipedia.org/wiki/Datei:Karmeliter_Kreuzg_Gei%C3%9FlXP.jpg
                </dd>
                <dt>
                    Station 5 (Wei&szlig;frauenkloster: Der Tanz Maria Magdalenas und der Nonnen):
                </dt>
                <dd>
                    Bild 1: Matth&auml;us Merian d.&Auml;.: Wei&szlig;frauenkloster (1628) - Foto: Claudia Riemer<br/>
                    Bild 2: Hans Backoffen: Maria Magdalena, Ausschnitt aus der Kreuzigungsgruppe (1509) - Foto: Stephanie Dreyf&uuml;rst
                </dd>
                <dt>
                    Station 6 (Judengasse: Juden im Ghetto und im Passionsspiel):
                </dt>
                <dd>
                    Bild 1: Matth&auml;us Merian d.&Auml;.: Judengasse (1628) - Foto: Claudia Riemer<br/>
                    Bild 2: Matth&auml;us Merian d.&Auml;.: Fettmilchaufstand (1628) - Quelle: Wiki Commons unter<br/>
                    http://commons.wikimedia.org/wiki/File:Frankfurt_Main_Fettmilch-Aufstand.jpg
                </dd>
                <dt>
                    Station 7 (Dom: Der Lanzenstich des Longinus):
                </dt>
                <dd>
                    Bild 1: Matth&auml;us Merian d.&Auml;.: Frankfurter Dom (1617) - Foto: Mylius, lizensiert und nutzbar &uuml;ber&nbsp;Wiki Commons unter<br/>
                    http://upload.wikimedia.org/wikipedia/commons/b/b4/Mk_Frankfurt_Merian_Stadtansicht.jpg<br/>
                    Bild 2: Hans Backoffen: Longinus, Ausschnitt aus der Kreuzigungsgruppe (1509), Foto: Stephanie Dreyf&uuml;rst
                </dd>
                <dt>
                    Station 8 (Alte Synagoge: Josef mit dem Judenhut):
                </dt>
                <dd>
                    Bild 1: Matth&auml;us Merian d.&Auml;.: Frankfurter Dom (1628) - Foto: Claudia Riemer<br/>
                    Bild 2: Meister Antze: Josef mit dem Judenhut (1350) - Foto: Rupp.de, lizensiert und nutzbar &uuml;ber Wiki Commons unter<br/>
                    http://upload.wikimedia.org/wikipedia/commons/9/9c/Frankfurter_Dom_Suedportal_2.JPG
                </dd>
                <dt>
                    Station 9 (Briggegiggel: Die Verleugnung des Petrus):
                </dt>
                <dd>
                    Bild 1: Matth&auml;us Merian d.&Auml;.: Alte Br&uuml;cke (1628) - Foto: Claudia Riemer<br/>
                    Bild 2: Bedebuch: Briggegiggel (1405) - Foto: Claudia Riemer
                </dd>
                <dt>
                    Station 10 (Alte Br&uuml;cke: Das Judenschandbild):
                </dt>
                <dd>
                    Bild 1: Matth&auml;us Merian d.&Auml;.: Br&uuml;ckenturm der Alten Br&uuml;cke (1628) - Quelle: Wiki Commons unter<br/>
                    http://upload.wikimedia.org/wikipedia/commons/9/9e/Frankfurt_Altstadt-Position-Fuersteneck-Merian1628.gif<br/>
                    Bild 2: Johann Jakob Schmidt: J&uuml;dische Merckw&uuml;rdigkeiten (1714-17) - Foto: J&uuml;disches Museum
                </dd>
                <dt>
                    Station 11 (Affentor: Das Glaubensbekenntnis eines Muslim):
                </dt>
                <dd>
                    Bild 1: Matth&auml;us Merian d.&Auml;.: Das Affentor (1628) - Foto: Claudia Riemer<br/>
                    Bild 2: Mittelrheinischer Meister: Kreuzigungsaltar (um 1420) - Foto: St&auml;del Museum Frankfurt a. M.
                </dd>
                <dt>
                    Station 12 (Galgentor: Der gewaltsame Tod Jesu):
                </dt>
                <dd>
                    Bild 1: Matth&auml;us Merian d.&Auml;.: Das Galgentor (1628) - Foto: Claudia Riemer<br/>
                    Bild 2: Schrotblatt mit der Annagelung Jesu ans Kreuz (um 1470/80) - Foto: Universit&auml;tsbibliothek Johann Christian Senckenberg Frankfurt a. M.
                </dd>
            </dl>
        </div>
    </div>
</main>
<footer>
    <div class="poi-footer-content">
        <a class="float-left" href="#/intro" style="margin: 0;">Anleitung</a>
        <a class="float-right" href="#/directive" style="margin: 0;">Zur App</a>
    </div>
</footer>